In [1]:
import pandas as pd
import numpy as np

In [7]:
news = pd.read_json('../data/news/News_Category_Dataset.json', lines=True)
news.head()

,short_description,headline,date,link,authors,category
0,She left her husband. He killed their children...,There Were 2 Mass Shootings In Texas Last Week...,2018-05-26,https://www.huffingtonpost.com/entry/texas-ama...,Melissa Jeltsen,CRIME
1,Of course it has a song.,Will Smith Joins Diplo And Nicky Jam For The 2...,2018-05-26,https://www.huffingtonpost.com/entry/will-smit...,Andy McDonald,ENTERTAINMENT
2,The actor and his longtime girlfriend Anna Ebe...,Hugh Grant Marries For The First Time At Age 57,2018-05-26,https://www.huffingtonpost.com/entry/hugh-gran...,Ron Dicker,ENTERTAINMENT
3,The actor gives Dems an ass-kicking for not fi...,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,2018-05-26,https://www.huffingtonpost.com/entry/jim-carre...,Ron Dicker,ENTERTAINMENT
4,"The ""Dietland"" actress said using the bags is ...",Julianna Margulies Uses Donald Trump Poop Bags...,2018-05-26,https://www.huffingtonpost.com/entry/julianna-...,Ron Dicker,ENTERTAINMENT

In [8]:
news_cleaned = pd.DataFrame(columns=['text', 'finance'])

In [11]:
news_cleaned.shape

(124989, 2)

In [12]:
news_cleaned['text'] = news['short_description']
for i in range(news_cleaned.shape[0]):
    news_cleaned.iloc[i]['finance'] = 1 if (news.iloc[i]['category'] == 'MONEY' or news.iloc[i]['category'] == 'BUSINESS') else 0

In [13]:
news_cleaned.head()

                                                text finance
0  She left her husband. He killed their children...       0
1                           Of course it has a song.       0
2  The actor and his longtime girlfriend Anna Ebe...       0
3  The actor gives Dems an ass-kicking for not fi...       0
4  The "Dietland" actress said using the bags is ...       0

In [14]:
news_cleaned['finance'].value_counts()

0    120735
1      4254
Name: finance, dtype: int64

In [16]:
news_cleaned.to_csv('../data/news/news_cleaned.csv', index=False)